
QWidget#Widget{
border: 1px solid rgb(111, 156, 207);
background: rgb(232, 241, 252);
}

QTabWidget::pane {
                border: none;
                border-top: 3px solid rgb(0, 78, 161);
                background: rgb(187, 212, 238);
}
QTabWidget::tab-bar {
                border: none;
}
QTabBar::tab {
                border: none;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                color: white;
                background: rgb(120, 170, 220);
                height: 28px;
                min-width: 85px;
                margin-right: 5px;
                padding-left: 5px;
                padding-right: 5px;
}
QTabBar::tab:hover {
                background: rgb(0, 78, 161);
}
QTabBar::tab:selected {
                color: white;
                background: rgb(0, 78, 161);
}

QTabWidget#tabWidget::pane {
        border: 1px solid rgb(111, 156, 207);
        background: rgb(232, 241, 252);
        margin-top: -1px;
}

QTabBar#tabBar::tab {
        border: 1px solid rgb(111, 156, 207);
        border-bottom: none;
        color: rgb(70, 71, 73);
        background: transparent;
}
QTabBar#tabBar::tab:hover {
        color: rgb(2, 65, 132);
}
QTabBar#tabBar::tab:selected {
        color: rgb(2, 65, 132);
        background: rgb(232, 241, 252);
}
QLineEdit {
        border-radius: 4px;
        height: 25px;
        border: 1px solid rgb(111, 156, 207);
        background: white;
}
QLineEdit:enabled {
        color: rgb(84, 84, 84);
}
QLineEdit:enabled:hover, QLineEdit:enabled:focus {
        color: rgb(51, 51, 51);
}
QLineEdit:!enabled {
        color: rgb(80, 80, 80);
}
QToolTip{
                border: 1px solid rgb(111, 156, 207);
                background: white;
                color: rgb(51, 51, 51);
}
 QTreeView::item
 {
        height:50px;
        color: black;
        border-bottom: 0.5px solid;
       background-color: transparent;
}
QTreeView::branch
{
color: black;
border: none;
background-color:  transparent;
}

QTreeView::item:hover, QTreeView::branch:hover {
      /*  background-color: transparent;*/
}
 QTreeView::item:selected, QTreeView::branch:selected {
        background-color: rgb(0, 160, 230);
}

QTreeView
{
    background-color:rgb(232, 241, 252);
    show-decoration-selected: 1;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/qss/image/close.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings{
    border-image: none;
    image: url(:/qss/image/open.png);
}
QComboBox {
        height: 25px;
        border-radius: 4px;
        border: 1px solid rgb(111, 156, 207);
        background: white;
}
QComboBox:enabled {
        color: rgb(84, 84, 84);
}
QComboBox:!enabled {
        color: rgb(80, 80, 80);
}
QComboBox:enabled:hover, QComboBox:enabled:focus {
        color: rgb(51, 51, 51);
}
QComboBox::drop-down {
        width: 20px;
        border: none;
        background: transparent;
}
QComboBox::drop-down:hover {
        background: rgba(255, 255, 255, 30);
}
QComboBox::down-arrow {
        image: url(:/qss/image/open.png);
}
QComboBox::down-arrow:on {
        /**top: 1px;**/
}
QComboBox QAbstractItemView {
        border: 1px solid rgb(111, 156, 207);
        background: white;
        outline: none;
}
QComboBox QAbstractItemView::item {
        height: 25px;
        color: rgb(73, 73, 73);
}
QComboBox QAbstractItemView::item:selected {
        background: rgb(232, 241, 250);
        color: rgb(2, 65, 132);
}

QProgressBar{
        border: none;
        text-align: center;
        background: rgb(120, 170, 220);
}
QProgressBar::chunk
{
background-color: #05B8CC;
}
